@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

* {
  font-family: var(--font-geist-sans);
}
.main {
  min-height: 100vh;
  position: relative;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: -2;
  width: 100%;
  height: 100%;
}

.main:after {
  content: "";
  background-image: url("/src/assets/grid.svg");
  z-index: -3;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  top: 0;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: -1;
  position: absolute;
  width: 100%;
  /* max-width: 640px; */
  background-image: radial-gradient(
      at 27% 37%,
      hsla(210, 100%, 70%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 33% 50%, #3b82f6 0px, transparent 50%),
    radial-gradient(at 97% 21%, #60a5fa 0px, transparent 50%),
    radial-gradient(at 52% 99%, #93c5fd 0px, transparent 50%),
    radial-gradient(at 10% 29%, #bfdbfe 0px, transparent 50%),
    radial-gradient(at 97% 96%, #dbeafe 0px, transparent 50%);

  content: "";
  height: 100%;
  filter: blur(100px) saturate(150%);
  /* top: 80px;  */
  opacity: 0.25;
}
